setuptools>=68.0.0
wheel
pip>=23.0

#Core
pandas==2.0.3
numpy==1.25.2

# API
fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.5.3
python-multipart==0.0.6

# Database
sqlalchemy==2.0.23
psycopg2-binary==2.9.9

# AI
openai==1.7.2

# Utils
python-dotenv==1.0.0
pyyaml==6.0.1
requests==2.31.0

# Security
cryptography==41.0.7